{% extends 'layout.html.twig' %}

{% block title %}Beneficium | Main{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Main page</h1>
            <p>List of Goals</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-4 border border-dark">
                <h2>{{  blog.title }}</h2>
                <p>{{ blog.description }}</p>
                <p>{{ blog.text }}</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            {% endfor %}
        </div>

        <hr>

    </div>
{% endblock %}
